.ActionActivityMain{
    margin-top: 0rem;
    padding:65px;
.ActionActivityMain__bannerWrapper{
    img {
        width:100%;
        margin-top: 120px;
    }
}
.ActionActivityMain__footer{
    display:flex;
    justify-content:space-between;
    h6{
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        color: #495057;
        margin: 20px 0px;
    }
    .ActionActivityMain__footer__copyRight{

    }
    .ActionActivityMain__footer__legalP{
        
    }
}
}